{
  "image_configuration": {
    "dither_algorithm": "0",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "L8_RGB565",
    "nonopaque_image_format": "L8_ARGB8888",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection",
    "images": {},
    "l8_compression": "yes",
    "rgb_compression": "yes"
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16",
    "font_format": "0",
    "cache_size": 8192,
    "copy_translations_to_ram": "no"
  }
}